@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
  --primary-color: hsl(158, 36%, 37%);
  --secondary-color: hsl(30, 38%, 92%);
  /* Neutral colors */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  --font-size: 0.875rem;
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: auto;
}
.image {
  display: block;
  width: 345px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.image-details {
  background-color: hsl(0, 0%, 100%);
  width: 295px;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
h1 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color: var(--very-dark-blue);
  line-height: 1;
  margin: 0px;
}
.perfume {
  color: var(--dark-grayish-blue);
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  padding-top: 15px;
  padding-bottom: 0px;
}
.text {
  width: 292px;
  color: var(--dark-grayish-blue);
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size);
  line-height: 1.8;
  margin-bottom: 10px;
}
.price {
  display: flex;
  align-items: center;
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color: var(--primary-color);
  margin-top: 0px;
  margin-bottom: 0px;
}
.add {
  color: var(--white);
  text-decoration: none;
  margin-left: 5px;
}
del {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  color: var(--dark-grayish-blue);
  vertical-align: middle;
  margin: 20px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  border: none;
  width: 295px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 25px;
}
button:hover {
  background-color: hsl(158, 52%, 12%);
  cursor: pointer;
}
.attribution {
  display: flex;
  justify-content: center;
  padding: 5px;
}

@media screen and (min-width: 705px) {
  .image {
    /* content: url('./images/image-product-desktop.jpg'); */
    width: 260px;
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
  .image-details {
    width: 225px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
  }
  .perfume {
    font-size: 0.6875rem;
    margin-top: 10px;
  }
  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .text {
    font-size: 0.75rem;
    width: 205px;
  }
  button {
    width: 220px;
    height: 40px;
    margin-top: 10px;
  }
  .cart-image {
    width: 14px;
  }
}
